/*top, right, bottom, and left*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    --grass-color: #117c13;
    --blues-color: #2d7bbc;
    --reds-color: #c02942;
    --grass-accent-color: #edfded;
    --sky-color: #eff5fb;
    --sand-color: #ebd2ad;
    --grass-trans-color: rgba(17, 124, 19, 0.9);
    --blue-trans-color: rgba(45, 123, 188, 0.5);
    --red-accent-color: #f4c8cf;
    --whites-color: #ffffff;
}

body {
    max-width: 1000px;
    margin: auto;
    font-family: "Mulish", sans-serif;
    background-color: var(--whites-color);
}

header {
    background-color: var(--grass-accent-color);
    color: var(--grass-color);
    text-align: center;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}

h1 {
    padding: 1rem;
    text-align: center;
}

h2 {
    background-color: var(--blues-color);
    color: #fff;
    text-align: center;
    margin: 0.5rem 0 0.5rem 0;
}

h3 {
    background-color: var(--grass-accent-color);
    color: var(--reds-color);
}

h2, h3, h4, h5, h6 {
    padding: 0.5rem;
}

footer {
    text-align: center;
}

section {
    border: 1px solid var(--sand-color);
    margin-bottom: 0.5rem;
}

p {
    padding: 0.5rem;
}

p.color-palette {
    margin: 0 2rem 0 2rem;
}

p.color-palette span {
    padding: 0.5rem;
    display: block;
    width: 15rem;
}

span.primary-color {
    background-color: var(--grass-color);
    color: #ffffff;
}

span.secondary2-color {
    background-color: var(--blues-color);
    color: #ffffff;
}

span.secondary3-color {
    background-color: var(--reds-color);
    color: #ffffff;
}

span.accent1-color {
    background-color: var(--grass-accent-color);
}

span.accent2-color {
    background-color: var(--sky-color);
}

span.accent3-color {
    background-color: var(--red-accent-color);
}

span.background1-color {
    background-color: var(--sand-color);
}

span.background2-color {
    background-color: var(--whites-color);
}

.navigation {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    text-align: center;
    background-color: var(--grass-accent-color);
}

.navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--blues-color);
}

.navigation li {
    border-bottom: none;
    width: 100%;
    display: block;
}

.navigation a {
    text-decoration: none;
    padding: 0.88rem;
    display: block;
    text-align: center;
    font-size: 1.2rem;
    color: white;
}

.navigation a:hover {
    background-color: var(--sky-color);
    color: black;
}

.active {
    background-color: var(--sky-color);
    color: black !important;
}

.audience ul {
    padding-left: 2rem;
    margin-bottom: 1rem;
}


.typography h1 {
    text-align: unset;
    padding: 0.5rem;
    margin: unset;
    font-size: 2em;
    font-weight: bold;
    color: var(--grass-color);
    background-color: var(--grass-accent-color);
}

.typography h2 {
    text-align: unset;
    padding: 0.5rem;
    margin: unset;
    font-size: 1.5em;
    font-weight: bold;
    color: unset;
    background-color: unset;
}

.typography h3 {
    text-align: unset;
    padding: 0.5rem;
    margin: unset;
    font-size: 1em;
    font-weight: bold;
    color: unset;
    background-color: unset;
}

.typography h4 {
    text-align: unset;
    padding: 0.5rem;
    margin: unset;
    font-size: 1em;
    font-weight: normal;
    color: unset;
    background-color: unset;
}

.typography h5 {
    text-align: unset;
    padding: 0.5rem;
    margin: unset;
    font-size: 0.75em;
    font-weight: bold;
    color: unset;
    background-color: unset;
}

.typography h6 {
    text-align: unset;
    padding: 0.5rem;
    margin: unset;
    font-size: 0.75em;
    font-weight: normal;
    color: unset;
    background-color: unset;
}

hr {
    margin: 3rem 0 3rem 0;
}

img {
    max-width: 1000px;
}
