* {
    --thought-color: white;
}

.thought {
    color: black;
    display: flex;
    background-color: var(--thought-color);
    padding: 20px;
    border-radius: 30px;
    max-width: 180px;
    min-height: 40px;
    margin: 20px;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 0;
}

.thought:before,
.thought:after {
    content: "";
    background-color: var(--thought-color);
    border-radius: 50%;
    display: block;
    position: absolute;
    z-index: -1;
}

.thought:before {
    width: 44px;
    height: 44px;
    top: -12px;
    left: 28px;
    box-shadow: -50px 30px 0 -12px var(--thought-color);
}

.thought:after {
    bottom: -10px;
    right: 26px;
    width: 30px;
    height: 30px;
    box-shadow: 40px -34px 0 0 var(--thought-color),
    -28px -6px 0 -2px var(--thought-color),
    -24px 17px 0 -6px var(--thought-color),
    -5px 25px 0 -10px var(--thought-color);
}

.thought-blue {
    --thought-color: var(--blues-color);
    top: 8%;
    left: 20%;
}

.thought-white {
    --thought-color: var(--whites-color);
    top: 27%;
    left: 61%;
}

.thought-red {
    --thought-color: var(--reds-color);
    color: white;
    top: 48%;
    left: 5%;
}
